.container {
    background-color: #e6f7f6;

    .navbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;

        &.MuiAppBar-colorPrimary {
            background-color: #20232a;
        }

        .menu-icon {
            margin-left: 20px;

            .MuiSvgIcon-root {
                width: 30px;
                height: 30px;
            }

        }

        .movie-heist-logo {
            width: 230px;

            img {
                width: 100%;
            }
        }

        .my-favorites-btn {
            background-color: #e71313;
            margin-right: 1rem;
            padding: 0.3rem 0.7rem .5rem .7rem;
            border-radius: 5px;
            text-align: center;

            a {
                text-decoration: none;
                color: #fff;
                padding: 0;
            }
        }
    }

    .search {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
        width: 100%;

        .text-input {
            width: 40%;
        }

        .search-btn {
            background-color: lightseagreen;
            color: #fff;
        }
    }
}

.movies-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-container {
        // width: 21%;
        margin-bottom: 2rem;

        .movie-card {
            background-color: #20232a;
            color: #fff;
            width: 300px;

            .movie-img {
                height: 450px;
                width: 100%;
            }

            .movie-info {
                .movie-title {
                    font-weight: bold;
                    height: 65px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .movie-overview {
                    color: #fff;
                    height: 120px;
                    overflow: hidden;
                }

                .movie-date {
                    font-size: 1.2rem;
                    margin-bottom: .7rem;
                }
            }

            .add-favorite-btn {
                background-color: lightseagreen;
                color: #fff;
                margin: .5rem auto;
            }

            .remove-favorite-btn {
                background-color: #e71313;
                color: #fff;
                margin: .5rem auto;
            }
        }
    }
}

.favorite-movies {
    padding-top: 1rem;

    .favorite-movies-header {
        color: lightseagreen;
        margin: 0;
        margin-bottom: 1.5rem;
        background-color: #20232a;
        width: 200px;
        padding: .6rem 0 .6rem 1rem;
        border-radius: 0 50px 50px 0;
    }

    .back-link {
        margin-bottom: .5rem;
        padding-left: 1rem;

        a {
            text-decoration: none;
            color: #20232a;
            font-size: 1.3rem;
            font-weight: bold;
            display: flex;
            align-items: center;

            svg {
                fill: #20232a;
                margin-right: .3rem;
            }
        }
    }
}

.no-movies-container {
    width: 100%;

    .no-movies {
        margin: 0 auto;
        width: 300px;
        text-align: center;
        color: lightseagreen;

        img {
            width: 100%;
        }
    }
}

.footer {
    width: 100%;
    background-color: #20232a;
    padding: .7rem 0;
    text-align: center;

    .social-media-links {
        display: flex;
        justify-content: center;
        margin: 0 auto;

        a {
            margin: .3rem;
            text-decoration: none;
            color: lightseagreen;
        }
    }

    p {
        color: #fff;
        margin: 0;
    }
}